/* From Uiverse.io by ClawHack1 */ 
/* Genel stil */
.toggle_switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
  }
  
  /* Giriş stil */
  .toggle_switch .toggle_input {
    display: none;
  }
  
  /* Anahtarın stilinin etrafındaki etiketin stil */
  .toggle_switch .toggle_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: #2196F3;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Anahtarın yuvarlak kısmının stil */
  .toggle_switch .toggle_label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  /* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
  .toggle_switch .toggle_input:checked + .toggle_label {
    background-color: #4CAF50;
  }
  
  .toggle_switch .toggle_input:checked + .toggle_label::before {
    transform: translateX(16px);
  }
  
  /* Light tema */
  .toggle_switch.light .toggle_label {
    background-color: #BEBEBE;
  }
  
  .toggle_switch.light .toggle_input:checked + .toggle_label {
    background-color: #9B9B9B;
  }
  
  .toggle_switch.light .toggle_input:checked + .toggle_label::before {
    transform: translateX(6px);
  }
  
  /* Dark tema */
  .toggle_switch.dark .toggle_label {
    background-color: #4B4B4B;
  }
  
  .toggle_switch.dark .toggle_input:checked + .toggle_label {
    background-color: #717171;
  }
  
  .toggle_switch.dark .toggle_input:checked + .toggle_label::before {
    transform: translateX(16px);
  }
  