.createAndUpdateTodoForm{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba( 225, 225, 225, 0.4);
  backdrop-filter: blur(3px);
}

.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2em;
    width: 500px;
    /* max-width: 300px; */
    background-color: #FCCD2A;
    position: relative;
  }

  .cnclBtn{
    border: 1px solid black;
    /* padding: 10px; */
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .cnclBtn:hover{
    cursor: pointer;
  }
  
  .form .input_span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form input, .form textarea{
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    /* width: 100%; */
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    resize: none;
  }
  
  .form input:focus, .form textarea:focus {
    outline: 2px solid var(--clr);
  }
  
  .label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
  }
  
  .form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
  }
  
  .span {
    text-decoration: none;
    color: var(--bg-dark);
  }
  
  .span a {
    color: var(--clr);
  }
  
  @media (width < 768px) {
    .form{
      width: 350px;
    }
  }


  @media (width < 490px) {
    .form{
      font-size: 0.8em;
    }
    .form input, .form textarea{
      padding: 0.8em 0.6rem;
    }
    .form .submit{
      padding: 0.5em;
    }
  }

  @media (width < 425px) {
    .form{
      width: 250px
    }
  }
  @media (width < 320px) {
    .form{
      width: 200px;
    }
  }